@use '../global' as g;

.footer{
    padding: 80px 0 60px;
    &__logo{
        @include g.small{
            order: 1;
        }
    }
    &__copyright{
        @include g.font-style(12px, g.$color-black, 500, 1, 0);
        display: inline-block;
        margin-top: 70px;
        @include g.small {
            text-align: center;
            margin-top: 5rem;
            order: 4;
        }
    }
}
.infoList{
    @include g.small{
        order: 2;
    }
}
.infoItem{
    display: flex;
    align-items: center;
    &__label{
        display: inline-block;
        min-width: 78px;
        background-color: g.$color-navy;
        text-transform: uppercase;
        @include g.font-style(16px, g.$color-white, 700, 28px, 0);
        margin-right: 10px;
        @include g.tab{
            min-width: 7.8rem;
            font-size: 1.6rem;
            line-height: 2.8rem;
            margin-right: 1rem;
        }
        @include g.small{
            min-width: 78px;
            font-size: 16px;
            line-height: 28px;
            margin-right: 10px;
        }
    }
    &__text{
        @include g.font-style(16px, g.$color-black, 700, 1, 0);
        @include g.tab{
            font-size: 1.6rem;
        }
        @include g.small{
            font-size: 16px;
        }
        span{
            font-size: 12px;
        }
    }
}
.companyInfo{
    display: flex;
    justify-content: space-between;
    @include g.small{
        flex-direction: column;
    }
    &__info{
        @include g.tab{
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        @include g.small{
            display: contents;
        }
    }
    &__overview{
        width: 690px;
        @include g.pc{
            width: 69rem;
        }
        @include g.tab {
            width: 45%;
        }
        @include g.small{
            width: 100%;
            margin-top: 5rem;
            order: 3;
        }
        tr{
            border-top: solid 1px #cccccc;
            &:last-child{
                border-bottom: solid 1px #cccccc
            }
        }
        th{
            width: 30%;
            padding: 9px 0;
            vertical-align: middle;
            @include g.font-style(14px, g.$color-black, 700, 1.5, 0);
        }
        td{
            width: 70%;
            padding: 9px 0;
            vertical-align: middle;
            @include g.font-style(14px, g.$color-black, 500, 1.5, 0);
        }
    }
}
.fixedCta{
    position: fixed;
    right: 4rem;
    bottom: 4rem;
    z-index: 100;
    display: none;
    .front-page &{
        display: block;
    }
    @include g.tab{
        display: none;
    }
    &__button{
        width: 360px;
        filter: brightness(100%);
        transition: 0.3s ease;
        &:hover{
            filter: brightness(110%);
            transition: 0.3s ease;
        }
    }
    &__icon{
        position: absolute;
        bottom: -48px;
        left: -20px;
        display: inline-block;
        width: 100px;
        animation: pointAnimation 2s infinite;
    }
}