@use '../global' as g;
// ヘッダー
.header{
    width: 100%;
    padding: 25px 0;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    @include g.pc{
        padding: 2.5rem 0;
    }
    @include g.small{
        padding: 1rem 0;
    }
    &__inner{
        display: flex;
        align-items: center;
        gap: 100px;
        @include g.tab{
            justify-content: space-between;
            gap: 0;
        }
    }
    &__button{
        display: none;
        .front-page{
            display: none;
            @include g.tab {
                display: block;
            }
        }
    }
    &.standby {
        position: fixed;
        background-color: rgba(255, 255, 255, 0.8);
        transform: translateY(-100%);
    }

    &.fixed {
        transform: translateY(0%);
    }
}
.logo{
    @include g.font-style(16px, g.$color-black, 700, 1, 0);
    display: flex;
    align-items: center;
    gap: 9px;
    @include g.sp{
        font-size: 1.3rem;
    }
    &__text_blue{
        @include g.font-style(24px, g.$color-navy, 900, 1, 0);
        display: inline-block;
        @include g.sp{
            font-size: 2rem;
        }
    }
    &__icon{
        display: block;
        width: 76px;
        aspect-ratio: 76/60;
        @include g.sp{
            width: 7.6rem;
        }
        img{
            height: auto;
        }
    }
}
