@use '../global' as g;

//メインビジュアル
.mainVisual{
    width: 100%;
    height: 768px;
    position: relative;
    @include g.pc{
        height: 76.8rem;
    }
    @include g.tab{
        height: 113.2rem;
    }
    @include g.sp{
        height: 56.6rem;
    }
    &__bg{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    &__image{
        height: 100%;
        img{
            object-fit: cover;
        }
    }
    &__container{
        height: 100%;
        display: flex;
        align-items: flex-end;
        @include g.tab{
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
}

//CTAエリア
.cta{
    width: 100%;
    background-color:g.$color-blue;
    padding: 40px 0;
    position: relative;
    &__title{
        position:absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -80%);
        z-index: 1;
        @include g.font-style(40px, g.$color-dark, 900, 1, 0);
        width: 673px;
        aspect-ratio: 673/127;
        @include g.pc{
            width: 67.3rem;
        }
        @include g.small{
            width: calc(359/428)*100%;
        }
        img{
            height: auto;
            
        }
        span{
                @include g.font-style(140px, g.$color-red, 900, 1, 0);
                transform: skew(-8deg) translateY(8px);
                display: inline-block;
        }
    }
    &__inner{
        width: 962px;
        margin: 0 auto;
        @include g.pc{
            width: calc(962/1200)*100%;
        }
        @include g.tab{
            width: 100%;
        }
    }
    &__price{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 0;
        .arrowToLeft{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 90px;
            aspect-ratio: 1/1;
            @include g.pc{
                width: 9rem;
            }
            @include g.sp{
                width: 4rem;
            }
            img{
                height: auto;
                z-index: 1;
            }
        }
    }
}
.ctaCard{
    width: calc(441/962)*100%;
    padding: 20px 14px 0;
    background-color: g.$color-blue3;
    border-radius: 10px;
    box-shadow: 0 6px 0 rgba(0,0,0,0.25);
    @include g.pc{
        padding: 2rem 1.4rem 0;
    }
    @include g.tab{
        padding: 2rem 1.6rem;
    }
    &__belt{
        @include g.font-style(20px, g.$color-navy, 700, 1, 0);
        width: 100%;
        background-color: g.$color-white;
        padding: 10px 0;
        border-radius: 100vh;
        display: inline-block;
        vertical-align: middle;
        @include g.pc{
            font-size: 2rem;
            padding: 1rem 0;
        }
        @include g.tab{
            font-size: 1.4rem;
            line-height: calc(16/14);
            padding: 0.6rem 0;
            border-radius: 4px;
        }
        .small{
            font-size: calc(12/20)*100%;
        }
    }
    &__body{
        display: flex;
        margin: 10px 7px 0;
        justify-content: space-between;
        @include g.pc{
            margin: 1rem 0.7rem 0;
        }
        @include g.tab{
            margin: 1.6rem 0 0;
        }
    }
    &__title{
        width: 80px;
        height: 80px;
        background-color: g.$color-navy;
        padding: 10px;
        @include g.font-style(30px, g.$color-white, 700, 1, 0);
        border-radius: 8px;

        @include g.pc{
            width: 8rem;
            height: 8rem;
            padding: 0.8rem;
            font-size: 3rem;
            border-radius: 0.8rem;
        }
        @include g.sp{
            width: 3.6rem;
            height: 3.6rem;
            padding: 0.4rem;
            font-size: 1.4rem;
            border-radius: 0.4rem;
        }
    }
    &__price{
        width: 316px;
        aspect-ratio: 316/90;
        word-wrap: break-word;
        -webkit-box-flex: 1;
        flex: 1;
        min-width: 0;
        display: flex;
        margin-top: 10px;
        @include g.pc{
            width: 31.6rem;
            margin-top: 1rem;
        }
        @include g.sp{
            width: 11.3rem;
            margin-top: 0.5rem;
        }
        img{
            height: auto;
        }
    }
}
.whiteBox{
    width: 100%;
    padding: 17px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    @include g.tab{
        padding: 1.6rem;
    }
    @include g.sp{
        
    }
    p{
        @include g.font-style(14px, g.$color-dark, 700, 1.5, 0);
        @include g.sp{
            font-size: 1.2rem;
        }
    }
}

//お悩み
.problem{
    width: 100%;
    padding: 60px 0;
    background-image: url("images/problem__bg_opt.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include g.sp{
        padding: 60px 0 65px;
    }
    &__inner{
        width: calc(811/1200)*100%;
        margin: 0 auto;
        @include g.pc{
            width: calc(962/1200)*100%;
        }
        @include g.tab{
            width: 100%;
        }
    }
    &__title{
        @include g.font-style(32px, g.$color-dark, 700, 2.2, 0);
        @include g.pc{
            font-size: 3.2rem;
        }
        @include g.sp{
            font-size: 2rem;
            line-height: 2.6;
        }
        .large{
            font-size: calc(64/32)*100%;
            display: inline-block;
            line-height: 1;
            position: relative;
            @include g.sp{
                font-size: calc(40/20)*100%;
            }
            &:after{
                content: "";
                display: block;
                width: 100%;
                height: 2px;
                background-color: g.$color-dark;
                position: absolute;
                left: 0;
                bottom: -1rem;
            }
        }
    }
    &__list{
        width: 100%;
    }
    &__item{
        width: 100%;
        display: flex;
        align-items: center;
        padding: 10px 0 10px 27px;
        background-color: g.$color-white;
        border-radius: 100vh;
        margin-top: 20px;
        @include g.pc{
            padding: 1rem 0 1rem 2.7rem;
        }
        @include g.sp{
            padding: 1.1rem 2rem;
            min-height: 7.1rem
        }
        p{
            @include g.font-style(24px, g.$color-black, 700, 1, 0);
            word-wrap: break-word;
            -webkit-box-flex: 1;
            flex: 1;
            min-width: 0;
            @include g.pc{
                font-size: 2.4rem;
            }
            @include g.sp{
                font-size: 1.6rem;
                line-height: 1.5;
            }
        }
        .check01{
            width: 50px;
            aspect-ratio: 1/1;
            margin-right: 10px;
            @include g.pc{
                width: 5rem;
                margin-right: 1rem;
            }
            @include g.sp{
                width: 3rem;
            }
            img{
                height: auto;
            }
        }
    }
}

//アピールエリア
.appeal{
    width: 100%;
    background-image: url("images/appeal__bg_opt.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 222px;
    position: relative;
    z-index: -2;
    @include g.sp{
        background-image: url("images/appeal__bg_sp_opt.png");
        padding-bottom: 151px;
    }
    &__inner{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__mainText{
        @include g.font-style(32px, g.$color-black, 700, 2, 0);
        margin-top: 97px;
        @include g.pc{
            font-size: 3.2rem;
        }
        @include g.sp{
            font-size: 2rem;
            line-height: 1.5;
            margin-top: 11.3rem;
        }
        span{
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 342px;
                height: auto;
                @include g.pc{
                    width: 34.2rem;
                }
                @include g.sp{
                    width: 16rem;
                }
            }
        }
    }
    &__subText{
        @include g.font-style(24px, g.$color-dark, 700, 1.95, 0);
        margin-top: 30px;
        position: relative;
        @include g.pc{
            font-size: 2.4rem;
            margin-top: 3rem;
        }
        @include g.sp{
            font-size: 2rem;
            line-height: 1.5;
            margin-top: 4.3rem;
        }
        &:before{
            content: "";
            display: block;
            width: 8px;
            height: 86px;
            background-color: g.$color-black;
            transform: skew(24deg);
            position: absolute;
            bottom: 0;
            left: -40px;
            @include g.pc{
                width: 0.8rem;
                height: 8.6rem;
                left: -4rem;
            }
            @include g.sp{
                display: none;
            }
        }
        &:after{
            content: "";
            display: block;
            width: 8px;
            height: 86px;
            background-color: g.$color-black;
            transform: skew(-24deg);
            position: absolute;
            bottom: 0;
            right: -40px;
            @include g.pc{
                width: 0.8rem;
                height: 8.6rem;
                right: -4rem;
            }
            @include g.sp {
                display: none;
            }
        }
        span{
            color: g.$color-orange2;
            &:after{
                background-color:g.$color-orange2;
            }
        }
    }
}
.gradArrow{
    width: 462px;
    padding: 35px 0;
    margin: 0 auto;
    background: linear-gradient(to bottom, #F7971E, #FFD200);
    @include g.font-style(32px, g.$color-white, 900, 1.5, 0);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
    position: relative;
    @include g.pc{
        width: 46.2rem;
        padding: 3.5rem 0;
        font-size: 3.2rem;
    }
    @include g.tab{
        font-size: 2.8rem;
        padding: 3rem 0;
    }
    @include g.small{
        width: 100%;
    }
    &:before{
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-top: solid 57px #FFD200;
        border-left: solid 231px transparent;
        border-right: solid 231px transparent;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        filter: drop-shadow(0 6px 6px rgba(0, 0, 0, 0.25));
        z-index: -1;
        @include g.pc{
            border-top: solid 5.7rem #FFD200;
            border-left: solid 23.1rem transparent;
            border-right: solid 23.1rem transparent;
        }
        @include g.small{
            border-left: solid 50vw transparent;
            border-right: solid 50vw transparent;
        }
    }
}

//選ばれる理由
.point{
    width: 100%;
    padding: 80px 0;
    &__inner{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title{
        @include g.font-style(32px, g.$color-black, 700, 1, 0);
        display: flex;
        align-items: center;
        @include g.pc{
            font-size: 3.2rem;
        }
        @include g.tab{
            flex-direction: column;
        }
        @include g.sp{
            font-size: 2rem;
        }
        .large{
            font-size: calc(48/32)*100%;
            display: inline-block;
            line-height: 64/48;
            @include g.tab{
                line-height: 1;
            }
        }
        img {
            width: 342px;
            height: auto;
            margin-right: 10px;
            @include g.pc {
                width: 34.2rem;
            }
            @include g.tab{
                margin-right: 0;
                margin-bottom: 2rem;
            }
        }
    }
    &__items{
        display: flex;
        justify-content: center;
        @include g.tab{
            flex-wrap: wrap;
        }
        @include g.sp{
            gap: 3rem;
        }
    }
}
.clearCard{
    width: 384px;
    padding: 20px 18px 20px 20px;
    border-right: solid 2px #cccccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include g.pc{
        width: 38.4rem;
        padding: 2rem 1.8rem 2rem 2rem;
    }
    @include g.tab{
        border-right: none;
        padding: 2rem;
    }
    &:last-child{
        border-right: none;
        padding: 20px;
    }
    &__thumbnail{
        width: 250px;
        aspect-ratio: 1/1;
        position: relative;
        @include g.pc{
            width: 25rem;
        }
        img{
            height: auto;
        }
        figcaption{
            display: block;
            width: 114px;
            aspect-ratio: 1/1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: linear-gradient(to bottom, #008AFE, #16ADDD);
            @include g.font-style(20px, g.$color-white, 700, 1, 0);
            position: absolute;
            top: -20px;
            left: -26px;
            border-radius: 100%;
            @include g.pc{
                width: 11.4rem;
                font-size: 2rem;
            }
            span{
                @include g.font-style(48px, g.$color-white, 700, 1, 0);
                transform: skew(-8deg);
                @include g.pc{
                    font-size: 4.8rem;
                }
            }
        }
    }
    &__title{
        @include g.font-style(18px, g.$color-blue, 700, 1.5, 0);
        @include g.pc{
            font-size: 1.8rem;
        }
        span{
            display: inline-block;
            padding: 0 4px;
            background-color: #FFEB83;
            margin-top: 10px;
        }
    }
    &__text{
        @include g.font-style(14px, g.$color-dark, 500, 2, 0);
    }
}