@use '../global' as g;
.button{
        .header &{
            width: 360px;
            @include g.tab{
                width: 36rem;
            }
            @include g.sp{
                width: 18.4rem;
            }
            a{
                padding: 16px 0;
                @include g.tab{
                    padding: 1.6rem 0;
                }
                @include g.sp{
                    padding: 0.6rem 0;
                }
            }
        }
        .cta &{
            width: 100%;
            a{
                padding: 21px 0;
                @include g.small{
                    padding: 3rem 0;
                }
            }
        }
    a{
        width: 100%;
        border: solid 1px g.$color-white;
        border-radius: 10px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        background: linear-gradient(to bottom, #FFA030, #FE7A00);
        display: flex;
        align-items: center;
        justify-content: center;
        filter: brightness(100%);
        transition: filter 0.3s ease;
        &:hover{
            filter: brightness(115%);
            transition: filter 0.3s ease;
        }
        @include g.tab{
            border-radius: 5px;
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
        }
    }
    &__label {
        display: inline-block;
        margin-left: 8px;
        .header &{
            @include g.font-style(20px, g.$color-white, 700, 1, 0);
            @include g.tab {
                font-size: 1.6rem;
                line-height: 1.5;
            }
            @include g.sp {
                margin-left: 0.5rem;
            }
        }
        .cta &{
            @include g.font-style(24px, g.$color-white, 700, 1, 0);
            @include g.small{
                font-size: 1.6rem;
            }
        }
    }
    &__icon {
        display: inline-block;
        aspect-ratio: 1/1;
        .header &{
            width: 28px;
            @include g.tab {
                    width: 2.8rem;
            }
        }
        .cta &{
            width: 50px;
            @include g.small{
                width: 3.2rem;
            }
        }
        img {
            height: auto;
        }
    }
}